<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENTACION</title>
</head>

<body style="display: flex;flex-direction: column;">
    <h1>DOCUMENTACION</h1>
    <div>
        <p>Esta es una aplicacion construida en node con el framework de express, el puerto por defecto es el 3000 pero puede variar dependiendo la maquina virtual</p>
    </div>
    <div>
        <h2>RUTAS DE CALCULADORA</h2>
        <ul>
            <li>"puertoYServidor"/calculadora/suma/"numero1"/"numero2"</li>
            <li>"puertoYServidor"/calculadora/resta/"numero1"/"numero2"</li>
            <li>"puertoYServidor"/calculadora/multiplicacion/"numero1"/"numero2"</li>
        </ul>
    </div>
    <div>
        <h2>RUTAS DE POKEMON</h2>
        <ul>
            <li>"puertoYServidor"/pokemon/"nombreOnumero"</li>
        </ul>
    </div>

</body>

</html>